* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Quicksand', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-image: url(/asset/img/banner1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar .navbar-brand {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}

.navbar .form-control {
    position: relative;
    /* padding: 10px 52px 10px 20px; */
    height: 45px;
    background: #000;
    border: transparent;
    border-radius: 6px;
}

.navbar .search__icon {
    position: absolute;
    right: 40px;
    cursor: pointer;
    color: #fff;
}