* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #000;
}

li {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
}

.title {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

h3, h4 {
    color: #eee;
}

h5 {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color: #ff6600;
    letter-spacing: 1px;
}

/* HEADER START */

header {
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),url(/asset/img/banner1.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

.navbar {
    padding: 40px 0 20px 0;
}

.navbar .navbar-brand {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    cursor: pointer; 
    padding: 0;
}

.navbar .form-control {
    position: relative;
    padding: 10px 52px 10px 20px;
    height: 45px;
    background: #000;
    border: transparent;
    border-radius: 6px;
}

.navbar .search__icon {
    position: absolute;
    right: 27px;
    cursor: pointer;
    color: #fff;
}


.header-content {
    max-width: 600px;
    margin-top: 100px;
}
.header-content h3 {
    text-transform: capitalize;
    font-size: 54px;
    font-weight: 600;
    color: #fff;
}

.header-content p {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

.header-content .btn-outline-secondary {
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: all .65s;
}

.header-content .btn-outline-secondary:hover {
    background-color: #fff;
    color: #ff6600;
}

/* RESPONSIVE HEADER */
@media screen and (max-width: 800px){ 
    header {
    min-height: 600px;
    margin-top: 60px;}
}

@media screen and (max-width: 600px){ 
    .form-inline {
    display: none;}
}
/* HEADER END */


/* ABOUT START */
.about {
    background-color: #232220;
}

.about .col-7 p,
.about .col-7 span {
    color: #c2d0da;
    font-size: 18px;
}
/* RESPONSIVE ABOUT */

/* ABOUT END */


/* CATEGORIES START */
.categories {
    background-color: #ff6600;
}

.categories-img {
    background-image: url(/asset/img/banner3.jpg);
    background-size: cover;
    background-position: center;
    min-height: 603px;
    position: relative;
}

.categories-img::after {
    content: "";
    position: absolute;
    background: rgb(16 15 19 / 46%);
    inset: 0;
}

.categories-content h5 {
    color: #fff;
}

.categories-content p {
    color: #ffdfc9;
    font-size: 18px;
}

.best i {
    display: block;
    font-size: 25px;
    background-color: #fff;
    color: #ff6600;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    transition: all 0.3s;
    border-radius: 6px;
}

.best .col-6:hover i {
    color: #ffc600;
}

.best a {
    color: #eeee;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
}

.best p {
    font-size: 18px;
    color: #ffdfc9;
}
/* RESPONSIVE CATEGORIES */

/* CATEGORIES END */


/* CATEGORIES START */

.service {
    background-color: #282828;
    text-align: center;
}

.service-item {
    position: relative;
}

.service-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
}
.service-item img {
    width: 100%;
    position: relative;
    display: block;
}


.service-item a {
    text-decoration: none;
}

.service-text {
    position: absolute;
    top: 81%;
    left: 13%;
    z-index: 1;
}

.service-text h6 {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}

.service-text p {
    font-size: 18px;
    letter-spacing: 1px;
    color: #ffc600;
    font-weight: 600;
    text-align: left;
}