* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #000;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
}

.title {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

h3, h4 {
    color: #eee;
}

h5 {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color: #ff6600;
    letter-spacing: 1px;
}

.container {
    max-width: 1200px;
}

/* HEADER START */

header {
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),url(/asset/img/banner1.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

.navbar {
    padding: 40px 0 20px 0;
}

.navbar #navbar-brand {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    cursor: pointer; 
    padding: 0;
}

.header-right {
    display: flex;
}

.navbar .form-inline {
    position: relative;
}

.navbar .form-control {
    padding: 10px 50px 10px 20px;
    height: 45px;
    background: #232220;
    border: transparent;
    border-radius: 6px;
}

.navbar .search__icon {
    position: absolute;
    right: 20px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
}

.header-right button,
.header-right .sun-btn {
    font-size: 31px;
    background: none;
    border: none;
    padding: 0 12px;
    color: #fff;
}


.header-content {
    max-width: 600px;
    margin-top: 100px;
}
.header-content h3 {
    text-transform: capitalize;
    font-size: 54px;
    font-weight: 600;
    color: #fff;
    line-height: 64px;
}

.header-content p {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

.header-content .btn-outline-secondary {
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: all .65s;
}

.header-content .btn-outline-secondary:hover {
    background-color: #fff;
    color: #ff6600;
}

/* RESPONSIVE HEADER */
@media screen and (max-width: 800px){ 
    header {
    min-height: 600px;
    margin-top: 60px;}
}

@media screen and (max-width: 600px){ 
    .form-inline {
    display: none;}
}
/* HEADER END */


/* ABOUT START */
.about {
    background-color: #232220;
}

.about .col-7 p,
.about .col-7 span {
    color: #c2d0da;
    font-size: 18px;
}
/* RESPONSIVE ABOUT */

/* ABOUT END */


/* AGENT START */
.agent {
    background-color: #ff6600;
}

.agent-img {
    background-image: url(/asset/img/banner3.jpg);
    background-size: cover;
    background-position: center;
    min-height: 603px;
    position: relative;
}

.agent-img::after {
    content: "";
    position: absolute;
    background: rgb(16 15 19 / 46%);
    inset: 0;
}

.agent-content h5 {
    color: #fff;
}

.agent-content p {
    color: #ffdfc9;
    font-size: 18px;
}

.best i {
    display: block;
    font-size: 25px;
    background-color: #fff;
    color: #ff6600;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    transition: all 0.3s;
    border-radius: 6px;
}

.best .col-6:hover i {
    color: #ffc600;
}

.best a {
    color: #eeee;
    font-size: 20px;
    font-weight: 700;
}

.best p {
    font-size: 18px;
    color: #ffdfc9;
}
/* RESPONSIVE AGENT */

/* AGENT END */


/* CATEGORIES START */

.categories {
    background-color: #282828;
    text-align: center;
}

.categories-item {
    position: relative;
}

.categories-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
}
.categories-item img {
    width: 100%;
    position: relative;
    display: block;
    border-radius: 10px;
    transition: all .4s;
}


.categories-item img:hover {
    opacity: 0.8;
}

.categories-text {
    position: absolute;
    top: 81%;
    left: 13%;
    z-index: 1;
}

.categories-text h6 {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}

.categories-text p {
    font-size: 18px;
    letter-spacing: 1px;
    color: #ffc600;
    font-weight: 600;
    text-align: left;
}

/* RESPONSIVE CATEGORIES */
/* CATEGORIES START */

/* SERVICE START  */
.service{
    background-color: #232220;
}

.service-item {
    padding: 40px 40px;
    border-radius: 8px;
    box-shadow: 0 25px 100px 0 rgb(0 0 0 / 3%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease 0s;
    position: relative;
}

.service p {
    color: #c2d0da;
    margin-bottom: 5px;
    font-size: 18px;
}

.service i {
    display: block;
    font-size: 25px;
    background-color: #282828;
    color: #ff6600;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    transition: all 0.3s;
    border-radius: 6px;
}

.service-item:hover i {
    background-color: #ff6600;
    color: #fff;
}

.service-item a:hover h6 {
    color: #ff6600;
}

.service-item h6 {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}

.service-item .row {
    margin-bottom: 15px;
}

/* RESPONSIVE SERVICE */
/* SERVICE END  */

/* TESTIMONIAL START */

.testimonial {
    background-color: #232220;
    text-align: center;
}

.testimonial .avatar img {
    width: 90px;
    border-radius: 50%;
}

.testimonial .carousel-caption i {
    color: #ff6600;
    font-size: 25px;
    padding-top: 15px;
}

.testimonial .carousel-caption h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: #eee;
    padding-bottom: 8px;
}

.testimonial .carousel-caption p {
    color: #c2d0da;
    font-size: 18px;
    padding: 0 75px;
}

.testimonial .carousel-caption h4 {
    font-size: 20px;
    font-weight: 600;
    color: #eee;
    padding-top: 8px;
}

.testimonial .carousel-item,
.testimonial .carousel-item.active {
    min-height: 430px;
    transition-duration: .3s;
}

.testimonial .carousel-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 50%; 
    background-color: #d8d8d8;
    opacity: 1;
    margin: 0 8px;
}

.testimonial .carousel-indicators li:hover,
.testimonial .carousel-indicators .active {
    background-color: #ff6600;
}
/* RESPONSIVE TESTIMONIAL */
/* TESTIMONIAL END */
